@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: timer;
    src: url(timer.woff);
}

@font-face {
    font-family: fira;
    src: url(FiraSans-Regular.woff);
}

body {
    font-family: 'fira', sans-serif;
    color: #eee;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background: hsla(0, 0%, 9%, 1);
}

#wrapper {
    transition: all 0.5s ease;
}

.sidebar {
    background: hsl(0, 0%, 10%);
    padding: 10px;
    padding-top: 15px;
    width: 250px;
}

.sidebar > div > hr {
    border-color: hsla(0, 0%, 30%, 1);
}

.sidebar > div > h2 {
    font-size: 1.5em;
    text-align: center;
    height: 20px;
}

.sidebar > div > div.small > button {
    width: 125px;
    height: 40px;
    font-size: 18px;
}

.choose-comparison > button {
    width: 30px;
    height: 40px;
    font-size: 28px;
}

.choose-comparison > span {
    width: 190px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button.toggle-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

button.toggle-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.livesplit {
    font-family: 'fira', sans-serif;
    width: 300px;
    background: hsl(0, 0%, 7%);
    color: #eee;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 10px;
    margin-bottom: 5px;
}

.previous-segment,
.sum-of-best,
.possible-time-save {
    background: linear-gradient(hsl(0, 0%, 11%) 0%, hsl(0, 0%, 7%) 100%);
    height: 24px;
    line-height: 20px;
}

.previous-segment-text,
.sum-of-best-text,
.possible-time-save-text {
    width: 100%;
}

.previous-segment-time,
.sum-of-best-time,
.possible-time-save-time {
    text-align: right;
}

.title {
    height: auto;
    width: 100%;
    margin-bottom: -14px;
    overflow: hidden;
    background: linear-gradient(hsl(0, 0%, 16%) 0%, hsl(0, 0%, 7%) 100%);
}

.title .title-game {
    word-wrap: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: inherit;
    display: inherit;
}

.splits {
    display: table;
    width: 100%;
}

.splits span.split:nth-child(2n+2) {
    background-color: hsl(0, 0%, 10%);
}

.splits span.split:nth-child(2n+2) div {
    border-bottom: 1px solid hsl(0, 0%, 15%);
    border-top: 1px solid hsl(0, 0%, 15%);
}

div.splits span.split.split-separator div {
    border-top: 2px solid hsla(0, 0%, 43%, 1);
    line-height: 18px;
}

.current-split {
    background: linear-gradient(hsl(220, 67%, 51%) 0%, hsl(220, 69%, 28%) 100%);
}

.split {
    display: table-row;
    height: 24px;
    line-height: 20px;
}

.split div {
    display: table-cell;
    text-align: right;
    padding: 2px 6px;
}

.splits table tbody .split {
    background-color: rgb(23, 23, 23);
}

span.title-category {
    display: inherit;
    font-size: 16px;
    text-align: center;
    width: inherit;
}

span.title-attempts {
    display: block;
    position: relative;
    text-align: right;
    right: 6px;
    bottom: 18px;
    font-family: 'Roboto', sans-serif;
}

td#dif {
    border-right: 10px solid transparent;
    text-align: right;
}

table tr td {
    padding: 0px 6px;
}

table {
    border-spacing: 0px 2px;
}

.split-name {
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 0px !important;
    text-align: left !important;
}

.split-icon-container {
    padding-right: 6px !important;
}

.split-icon-container-empty {
    padding-right: 0px !important;
}

.split-icon, .title-icon {
    max-width: 18px;
    height: 18px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.time {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.time-ahead, .color-aheadgainingtime {
    color: hsla(142, 100%, 40%, 1);
    stop-color: hsla(142, 100%, 40%, 1);
}

.color-aheadlosingtime {
    color: hsla(142, 60%, 60%, 1);
    stop-color: hsla(142, 60%, 60%, 1);
}

.color-behindgainingtime {
    color: hsla(0, 60%, 60%, 1);
    stop-color: hsla(0, 60%, 60%, 1);
}

.time-behind, .color-behindlosingtime {
    color: hsla(0, 100%, 40%, 1);
    stop-color: hsla(0, 100%, 40%, 1);
}

.color-bestsegment {
    color: hsla(50, 100%, 50%, 1);
    stop-color: hsla(50, 100%, 50%, 1);
}

.color-notrunning {
    color: hsla(0, 0%, 60%, 1);
    stop-color: hsla(0, 0%, 60%, 1);
}

.color-paused {
    color: hsla(0, 0%, 40%, 1);
    stop-color: hsla(0, 0%, 40%, 1);
}

.color-personalbest {
    color: hsla(210, 100%, 65%, 1);
    stop-color: hsla(210, 100%, 65%, 1);
}

.color-aheadgainingtime-top {
    stop-color: hsla(142, 100%, 80%, 1);
}

.color-aheadlosingtime-top {
    stop-color: hsla(142, 60%, 80%, 1);
}

.color-behindgainingtime-top {
    stop-color: hsla(0, 60%, 80%, 1);
}

.color-behindlosingtime-top {
    stop-color: hsla(0, 100%, 80%, 1);
}

.color-bestsegment-top {
    stop-color: hsla(50, 100%, 80%, 1);
}

.color-notrunning-top {
    stop-color: hsla(0, 0%, 95%, 1);
}

.color-paused-top {
    stop-color: hsla(0, 0%, 80%, 1);
}

.color-personalbest-top {
    stop-color: hsla(210, 100%, 80%, 1);
}

div.timer-time {
    font-size: 60px;
    text-align: right;
    padding-left: 6px;
    padding-right: 6px;
    font-family: timer, sans-serif;
    margin-top: -10px;
}

.timer-fraction {
    font-size: 45px;
}

.buttons {
    margin: 10px;
    margin-top: 5px;
    width: 300px;
}

.buttons > button {
    width: 98%;
    height: 40px !important;
    font-size: 25px;
}

.buttons > button, .buttons > div > button {
    height: 30px;
    margin-right: 1%;
    margin-left: 1%;
}

button.button-pressed, button.button-pressed:hover, button:active, button:active:hover {
    background: linear-gradient(hsl(0, 0%, 7%) 0%, hsl(0, 0%, 14%) 100%);
}

button:focus, div:focus, form > div > input:focus {
    outline: 0;
}

button:hover {
    background: linear-gradient(hsl(0, 0%, 14%) 0%, hsl(0, 0%, 9%) 100%);
}

button {
    margin-bottom: 4px;
    margin-top: 4px;
    background: linear-gradient(hsl(0, 0%, 11%) 0%, hsl(0, 0%, 7%) 100%);
    color: #eee;
    cursor: pointer;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 25%);
    border-image: initial;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'fira', sans-serif;
}

.sidebar-buttons > button {
    width: 250px;
    height: 40px;
}

.buttons > div > button {
    width: 48%;
}

.run-editor {
    padding: 10px 10px 10px 10px;
}

.group {
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
}
.group > input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 285px;
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    color: white;
    font-family: 'fira', sans-serif;
}
.group > input:focus {
    outline: none;
}

.group > label 				 {
    color:hsla(50, 0%, 75%, 1);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group > input:focus ~ label, .group > input:valid ~ label 		{
    top: -13px;
    font-size: 14px;
}

.group > input:focus ~ label {
    color: hsla(50, 100%, 50%, 1);
}

.group.invalid > input:focus ~ label {
    color: hsla(0, 100%, 50%, 1);
}

.group > .bar { position: relative; display: block; width: 300px; }
.group > .bar:before, .group > .bar:after 	{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: hsla(50, 100%, 50%, 1);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.group > .bar:before {
    left:50%;
}
.group > .bar:after {
    right:50%;
}

.group.invalid > .bar:before, .group.invalid > .bar:after {
    background: hsla(0, 100%, 50%, 1);
}

.group > input:focus ~ .bar:before, .group > input:focus ~ .bar:after {
    width:50%;
}

/* Run Editer */
.table {
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: table;
	float: right;
}
.table>* {
	display: table-row;
	background: rgba(0, 0, 0, 0.5);
}
.table>*:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.2);
}
.table>*>* {
	padding: 4px 12px;
	display: table-cell;
}
.btn-group button {
	width: 138px;
	height: 49px;
	margin-right: 5px;
	display: block;
}
.editer-group {
	display: inline-flex
}

form > div >input {
    width: 100px;
    margin-right: -40px;
}

input.name {
    width: 160px;
}

.table-header>div {
    width: 78px;
}
@media screen and (max-width: 425px) {
    .editer-group {
        display: list-item;
    }
    .btn-group {
        display:flex;
    }
    .table {
        display: flex;
        width: 100%;
        overflow-x: auto;
    }
    .table>* {
        display: block;
    }
    .table>*>* {
        display: flex;
    }
    input.name {
        width: 100px;
    }
    form > div >input {
        width: 100px;
        margin-right: -7px;
    }

}

div.checkbox,
input[type="checkbox"]{
    width: 20px !important;
    padding-right: 0px;
}

form > div > input {
    font-size: 14px;
    border: none;
    border-bottom: white;
    background: transparent;
    color: white;
    text-overflow: ellipsis;
    font-family: 'fira', sans-serif;
}

form>div:not(.checkbox):after {
    content:' ';
    width:100%;
    position:relative;
    display:block;
    border-top:1px solid hsla(0, 0%, 100%, 0.2);
    bottom: 1px;
}

form>div>input:not(.name) {
    text-align: right;
}

.btn-group>button {
    font-size: 15px;
}

.timing-selection>button {
    font-size: 15px;
    height: 30px;
    position: relative;
    left: 142px;
    width: 100px;
}

form.selected {
    background: rgba(0, 67, 255, 0.26) !important;
}
