@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: greycliff;
    src: url(greycliff-cf-extra-bold.woff2);
}

@font-face {
    font-family: fira;
    src: url(FiraSans-Regular.woff);
}

body {
    background: hsla(0, 0%, 9%, 1);
}

#wrapper {
    transition: all 0.5s ease;
}

.livesplit {
    font-family: 'fira', sans-serif;
    width: 300px;
    background: hsl(0, 0%, 7%);
    color: #eee;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.previous-segment,
.sum-of-best,
.possible-time-save {
    background: linear-gradient(hsl(0, 0%, 11%) 0%, hsl(0, 0%, 7%) 100%);
    height: 24px;
    line-height: 20px;
}

.previous-segment-text,
.sum-of-best-text,
.possible-time-save-text {
    width: 100%;
}

.previous-segment-time,
.sum-of-best-time,
.possible-time-save-time {
    text-align: right;
}

.title {
    height: auto;
    width: 100%;
    margin-bottom: -14px;
    display: inline-block;
    background: linear-gradient(hsl(0, 0%, 16%) 0%, hsl(0, 0%, 7%) 100%);
}

.title .title-game {
    word-wrap: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: inherit;
    display: inherit;
}

.splits {
    display: table;
    width: 100%;
}

.splits span.split:nth-child(2n+2) {
    background-color: hsl(0, 0%, 10%);
}

.splits span.split:nth-child(2n+2) div {
    border-bottom: 1px solid hsl(0, 0%, 15%);
    border-top: 1px solid hsl(0, 0%, 15%);
}

.current-split {
    background: linear-gradient(hsl(220, 67%, 51%) 0%, hsl(220, 69%, 28%) 100%);
}

.split {
    display: table-row;
    height: 24px;
    line-height: 20px;
}

.split div {
    display: table-cell;
    text-align: right;
    padding: 2px 6px;
}

.splits table tbody .split {
    background-color: rgb(23, 23, 23);
}

span.title-category {
    display: inherit;
    font-size: 16px;
    text-align: center;
    width: inherit;
}

span.title-attempts {
    display: block;
    position: relative;
    text-align: right;
    right: 6px;
    bottom: 18px;
    font-family: 'Roboto', sans-serif;
}

td#dif {
    border-right: 10px solid transparent;
    text-align: right;
}

table tr td {
    padding: 0px 6px;
}

.split-name {
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 2px !important;
    text-align: left !important;
}

.split-icon-container {
    padding-right: 5px !important;
}

.split-icon-container-empty {
    padding-right: 0px !important;
}

.split-icon, .title-icon {
    max-width: 18px;
    height: 18px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.time {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.time-ahead, .color-aheadgainingtime {
    color: hsla(142, 100%, 40%, 1);
}

.color-aheadlosingtime {
    color: hsla(142, 60%, 60%, 1);
}

.color-behindgainingtime {
    color: hsla(0, 60%, 60%, 1);
}

.time-behind, .color-behindlosingtime {
    color: hsla(0, 100%, 40%, 1);
}

.color-bestsegment {
    color: hsla(50, 100%, 50%, 1);
}

.color-notrunning {
    color: hsla(0, 0%, 85%, 1);
}

.color-paused {
    color: hsla(0, 0%, 60%, 1);
}

.color-personalbest {
    color: hsla(210, 100%, 65%, 1)
}

div.timer-time {
    font-size: 60px;
    text-align: right;
    padding-left: 6px;
    padding-right: 6px;
    font-family: greycliff, sans-serif;
    margin-top: -10px;
}

.monospace {
  display: inline-block;
  width: 0.6em;
  text-align: center;
}

.timer-fraction {
    font-size: 45px;
}

.buttons {
    margin-top: 10px;
    width: 300px;
}

.buttons > button {
    width: 98%;
    height: 40px !important;
    font-size: 25px;
}

.buttons > button, .buttons > div > button {
    margin-bottom: 8px;
    height: 30px;
    margin-right: 1%;
    margin-left: 1%;
    background: linear-gradient(hsl(0, 0%, 11%) 0%, hsl(0, 0%, 7%) 100%);
    color: #eee;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 25%);
    border-image: initial;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'fira', sans-serif;
}

.buttons > div > button {
    float: left;
    width: 48%;
}
