body, .livesplit-container, .buttons {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden !important;
}

.livesplit-container > div {
    margin: 0px !important;
}

.sidebar {
    box-shadow: none !important;
}

.buttons {
    visibility: hidden;
}
