.hotkey-box button {
    margin: 0px;
    font-size: 16px;
    height: 22px;
}

.hotkey-button:focus {
    color: red;
}

.hotkey-box {
    display: grid;
    grid-template-columns: 1fr 30px;
    column-gap: 5px;
}
