@import 'mobile';
@import 'variables';

$text-width: 400px;
$icon-size: 40px;
$title-font-size: 40px;
$build-version-font-size: 12px;
$link-color: #56b0ff;

.about {
  .about-inner-container {
    background-color: $light-row-color;
    padding: $ui-large-margin;
    border: 1px solid $border-color;
    width: fit-content;

    .livesplit-title {
      display: flex;
      align-items: center;

      .livesplit-icon {
        height: $icon-size;
        margin-right: $ui-margin;

        img {
          height: 100%;
        }
      }

      .title-text {
        font-weight: bold;
        font-size: $title-font-size;
      }
    }

    .build-version {
      font-size: $build-version-font-size;
    }

    .contributors-header {
      margin-bottom: 0;
    }

    .contributor {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;

      &:last-child {
        margin-block-end: 0;
      }
    }

    a {
      color: $link-color;
    }

    p {
      max-width: $text-width;

      @include mobile {
        max-width: 100%;
      }
    }

    @include mobile {
      box-sizing: border-box;
    }
  }
}
