body.browser-source {
    &,
    .livesplit-container,
    .buttons {
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden !important;
    }

    .sidebar {
        box-shadow: none !important;
    }

    .buttons,
    .sidebar-button {
        visibility: hidden;
    }
}
