.colorPickerButton {
    border: 2px solid var(--color-button-border-color);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-sizing: border-box;
    height: var(--settings-row-height);
}

.colorPickerDialogPositioning {
    margin: 0 auto;
    width: 0;
}

.overlay {
    inset: 0;
    position: fixed;
    z-index: 1;
}

.glassPanel {
    background-color: var(--overlay-background-color);
    backdrop-filter: blur(5px);
    z-index: 1;
    position: absolute;
    margin-top: 5px;
    margin-left: -113.5px;
    border: 1px solid var(--overlay-border-color);
    box-shadow: 0 5px 10px 0px rgba(28, 28, 28, 0.8);
}

.hr {
    margin: 0;
    height: 1px;
    border-width: 0px;
    background: var(--overlay-border-color);
}

.gradientSelector {
    overflow: hidden;
    position: relative;

    .whiteGradient {
        background: linear-gradient(to right, white, transparent);

        .cursor {
            pointer-events: none;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            box-shadow: black 0 0 0 2px inset;

            > div {
                width: 100%;
                height: 100%;
                border-radius: 6px;
                box-shadow: white 0 0 0 1px inset;
            }
        }

        .blackGradient {
            width: 225px;
            height: 125px;
            background: linear-gradient(to top, black, transparent);
        }
    }
}

.controlPanel {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .controlPanelTop {
        display: flex;
        gap: 10px;
        align-items: center;

        .checker {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADFJREFUOE9jZGBgEGHAD97gk2YcNYBhmIQBgWSAP52AwoAQwJvQRg1gACckQoC2gQgAIF8IscwEtKYAAAAASUVORK5CYII=")
                left center;
        }

        .sliders {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .hueSlider {
                background: linear-gradient(
                    to right,
                    #f00 0%,
                    #ff0 17%,
                    #0f0 33%,
                    #0ff 50%,
                    #00f 67%,
                    #f0f 83%,
                    #f00 100%
                );
                height: 18px;
                position: relative;
                border-radius: 9px;

                input {
                    margin: 0;
                    background: none;
                    height: 16px;
                    position: absolute;
                    top: 1px;
                    left: 1px;
                }
            }

            .alphaSlider {
                background: white;
                border-radius: 9px;
                overflow: hidden;
                height: 18px;
                position: relative;

                input {
                    margin: 0;
                    background: none;
                    height: 16px;
                    position: absolute;
                    top: 1px;
                    left: 1px;
                }
            }
        }
    }

    .controlPanelBottom {
        display: flex;
        gap: 10px;
        cursor: ew-resize;
    }

    input[type="range"] {
        /* Hack for LSO to prevent global style */
        all: revert;
        appearance: none;
        accent-color: var(--overlay-input-text-color);
        width: calc(100% - 2px);
    }
}

.colorPreview {
    border: 1px solid var(--overlay-border-color);
    border-radius: 50%;
    background: white;
    position: relative;
    overflow: hidden;

    .colorPreviewInner {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.colorInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    color: var(--overlay-muted-text-color);
    align-items: center;
    flex: 1;
    width: 0;
    user-select: none;

    > input {
        width: 100%;
        /* Hack for LSO to prevent global input height style */
        height: 25px !important;
        font-family: inherit;
        font-size: 14px;
        text-align: center;
        color: var(--overlay-input-text-color);
        font-variant-numeric: tabular-nums;
        background: transparent;
        border: 1px solid var(--overlay-input-border-color);
        border-radius: 5px;
        padding: 0;
    }
}

.predefinedColors {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .predefinedColorsRow {
        display: flex;
        justify-content: space-between;
    }
}

.predefinedColor {
    /* Hack for LSO to prevent global button style */
    all: revert;
    border: 3px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition:
        all 0.05s,
        border-color 0.25s;
    /* Fix for iOS minimum button width */
    font-size: 0;

    &:hover {
        /* Hack for LSO to prevent global button style */
        background: revert;
        border: 3px solid var(--overlay-input-text-color);
    }

    &:active {
        margin-top: 3px;
        height: 17px;
    }

    &:active:hover {
        /* Hack for LSO to prevent global button style */
        background: revert;
    }
}
