.contextMenu {
    position: fixed;
    z-index: 3;
}

.panel {
    z-index: 3;
    background-color: var(--overlay-background-color);
    backdrop-filter: blur(5px);
    min-width: 100px;
    padding: 4px 0;
    border: 1px solid var(--overlay-border-color);
    border-radius: 9px;
    box-shadow: 0 5px 10px 0px var(--overlay-shadow-color);
    display: flex;
    flex-direction: column;
    user-select: none;
    text-align: left;
    font-weight: initial;
    color: var(--overlay-text-color);
}

.overlay {
    inset: 0;
    position: fixed;
}

.entry {
    padding: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.25s;
    border-radius: 5px;
    margin: 0 4px;

    &:hover {
        background-color: var(--overlay-hover-color);
    }
}

.hr {
    height: 1px;
    border-width: 0px;
    background: var(--overlay-border-color);
    margin: 4px 0;
}
