@import 'Time';

$icon-size: 35px;
$padding: 6px;
$table-padding: 2px;
$segment-name-font-size: 15px;
$comparison-font-size: 11px;

.detailed-timer {
  position: relative;

  @include time;

  .detailed-timer-left-side {
    position: absolute;
    display: flex;
    top: 0;
    left: $padding;
    height: 100%;
    width: 50%;

    .detailed-timer-icon-container {
      width: $icon-size;
      height: 100%;
      padding: $padding 0;
      margin-right: $padding;
      box-sizing: border-box;
      
      img {
        max-width: $icon-size;
        height: 100%;
        object-fit: contain;
      }
    }

    .detailed-timer-left-side-text {
      position: relative;
      width: 100%;

      .detailed-timer-segment-name {
        position: absolute;
        top: $padding;
        left: 0;
        width: 100%;
        font-size: $segment-name-font-size;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
  
      .detailed-timer-comparisons {
        position: absolute;
        left: 0;
        bottom: $table-padding;
        font-size: $comparison-font-size;
      }
    }
  }
}
