@import 'Time';
@import 'variables';

.detailed-timer {
  position: relative;

  @include time;

  .detailed-timer-left-side {
    position: absolute;
    display: flex;
    top: 0;
    left: $side-padding;
    height: 100%;
    width: 50%;

    .detailed-timer-icon-container {
      height: 100%;
      padding: $vertical-padding $side-padding;
      margin-right: $side-padding;
      flex-shrink: 0;
      box-sizing: border-box;

      .detailed-timer-icon-inner-container {
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: center;

        .detailed-timer-icon {
          max-width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .detailed-timer-left-side-text {
      position: relative;
      width: 100%;

      .detailed-timer-segment-name {
        position: absolute;
        top: $vertical-padding;
        left: 0;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
  
      .detailed-timer-comparisons {
        position: absolute;
        left: 0;
        bottom: $vertical-padding;
      }
    }
  }
}
