:global(.is-mobile) + dialog > .dialog {
    min-width: auto;
}

dialog {
    background: none;
    border: none;
    outline: 0;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .dialog {
        color: var(--overlay-text-color);
        background-color: var(--overlay-background-color);
        backdrop-filter: blur(5px);
        border: 2px solid var(--overlay-border-color);
        border-radius: 10px;
        min-width: 225px;
        display: flex;
        flex-direction: column;
        gap: var(--ui-large-margin);

        max-width: 400px;
        padding: var(--ui-large-margin);

        h1 {
            font-size: larger;
        }

        > * {
            margin: 0;
        }

        .buttons {
            button {
                font-size: 16px;
                margin: 0;
                min-width: 80px;
                height: auto;

                &:focus {
                    border-color: #888;
                }
            }

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: var(--ui-margin);
        }

        input {
            border: none;
            border-bottom: 1px solid var(--overlay-input-border-color);
            background: transparent;
            color: var(--overlay-input-text-color);
            text-overflow: ellipsis;
            font-family: "fira", sans-serif;
            font-size: 16px;

            &:focus {
                outline: 0;
            }
        }
    }
}
