@use "variables.icss";

:global(.is-mobile) + dialog > .dialog {
    min-width: auto;
}

dialog {
    background: none;
    border: none;
    outline: 0;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .dialog {
        color: #eee;
        background-color: rgba(28, 28, 28, 0.8);
        backdrop-filter: blur(5px);
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 10px;
        min-width: 225px;
        display: flex;
        flex-direction: column;
        gap: variables.$ui-large-margin;

        max-width: 400px;
        padding: variables.$ui-large-margin;

        h1 {
            font-size: larger;
        }

        > * {
            margin: 0;
        }

        .buttons {
            button {
                font-size: 16px;
                margin: 0;
                min-width: 80px;
                height: auto;

                &:focus {
                    border-color: #888;
                }
            }

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: variables.$ui-margin;
        }

        input {
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            background: transparent;
            color: white;
            text-overflow: ellipsis;
            font-family: "fira", sans-serif;
            font-size: 16px;

            &:focus {
                outline: 0;
            }
        }
    }
}
