@use 'mobile';
@use 'variables';

#upload-drop-zone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  #upload-drop-zone-overlay {
    position: absolute;
    width: calc(100% + 2 * #{variables.$main-content-margin});
    height: calc(100% + 2 * #{variables.$main-content-margin});
    margin: -(variables.$main-content-margin);
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(50, 50, 50, 0.7);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile.mobile {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    .overlay-text {
      font-size: 50px;
      text-align: center;
    }
  }
}
