#upload-drop-zone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  #upload-drop-zone-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(50, 50, 50, 0.7);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay-text {
      font-size: 50px;
    }
  }
}
