.uploadDropZone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .overlay {
        position: absolute;
        width: calc(100% + 2 * var(--main-content-margin));
        height: calc(100% + 2 * var(--main-content-margin));
        margin: calc(-1 * var(--main-content-margin));
        visibility: hidden;
        pointer-events: none;
        background-color: rgba(50, 50, 50, 0.7);
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        :global(.is-mobile) & {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .overlayText {
            font-size: 50px;
            text-align: center;
        }
    }
}
