.text-font {
    font-family: var(--text-font-family);
    font-style: var(--text-font-style);
    font-weight: var(--text-font-weight);
    font-stretch: var(--text-font-stretch);
}

.times-font {
    font-family: var(--times-font-family);
    font-style: var(--times-font-style);
    font-weight: var(--times-font-weight);
    font-stretch: var(--times-font-stretch);
}

.timer-font {
    font-family: var(--timer-font-family);
    font-style: var(--timer-font-style);
    font-weight: var(--timer-font-weight);
    font-stretch: var(--timer-font-stretch);
}
