@import 'variables';

.hotkey-box {
  button {
    margin: 0px;
    font-size: 16px;
    height: 22px;
  }

  .hotkey-button:focus {
    color: red;
  }

  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: $ui-margin;
}
