@use 'variables';

.hotkey-box {
  button {
    margin: 0;
    font-size: 16px;
    min-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hotkey-button.focused {
    color: red;
  }

  display: grid;
  grid-template-columns: 1fr 30px;
  column-gap: variables.$ui-margin;
}
