@import 'Time';
@import 'variables';

.key-value {
  height: $default-component-height;
  padding: 0 $side-padding;
  display: flex;

  @include time;

  &.key-value-two-rows {
    height: $two-row-height;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    flex-wrap: wrap;
    align-items: stretch;

    .key-value-value {
      width: 100%;
    }
  }

  &.key-value-center {
    justify-content: center;
    text-align: center;

    .key-value-key {
      justify-content: center;
    }
  }

  &.key-value-left-right {
    .key-value-key {
      padding-right: $side-padding;
    }
  }

  .key-value-key {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  .key-value-value {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    .key-value-value-inner {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
