@import 'Time';
@import 'variables';

.key-value {
  height: $default-component-height;
  line-height: $default-component-line-height;
  padding: 0px $side-padding;
  display: flex;

  @include time;

  &.key-value-two-rows {
    height: $two-row-height;
    line-height: $two-row-line-height;
    padding-top: $two-row-extra-padding;
    padding-bottom: $two-row-extra-padding;
    flex-wrap: wrap;
    align-items: stretch;

    .key-value-value {
      width: 100%;
    }
  }

  &.key-value-center {
    justify-content: center;

    .key-value-key {
      justify-content: center;
    }
  }

  .key-value-key {
    display: flex;
    flex-grow: 1;
    padding-top: 1px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .key-value-key-inner {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  
  .key-value-value {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    .key-value-value-inner {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
