@import 'ContextMenu';
@import 'Table';
@import 'Toggle';

.layout-editor-outer {
  display: inline-flex;

  @include context-menu;
  @include table;
  @include toggle;

  .layout-editor-inner {
    width: $settings-table-width;
    display: inline-flex;

    table {
      width: 100%;
    }

    .btn-group {
      display: flex;
      flex-direction: column;

      button {
        width: 40px;
        height: 40px;
        font-size: 15px;
        display: block;
      }

      button:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  .layout-editor-component-list {
    margin-left: $ui-margin;
  }

  .layout-editor-component {
    cursor: pointer;
  }
}
