.layout-editor-outer {
  display: inline-flex;

  .table {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    border: 1px solid hsl(0, 0%, 25%);
    border-collapse: collapse;

    select {
      border: 1px solid hsl(0, 0%, 35%);
    }

    .table-row-even {
      display: table-row;
      background: rgba(0, 0, 0, 0.5) !important;
    }
    .table-row-odd {
      display: table-row;
      background: rgba(0, 0, 0, 0.2) !important;
    }
  }

  .table-body {
    display: table-row-group;
  }

  .table-body > * {
    display: table-row;
    background: rgba(0, 0, 0, 0.5);
  }

  .table-body > *:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.2);
  }

  .table-body > * > * {
    padding: 3px 12px;
    display: table-cell;
  }

  .table-body > * > *:nth-child(2) {
    padding: 3px 12px 3px 5px;
  }

  .layout-editor-tabs {
    margin-left: 20px;
  }

  .layout-editor-inner {
    table {
      width: 100%;
    }

    .btn-group button {
      width: 40px;
      height: 40px;
      font-size: 15px;
      margin-right: 5px;
      display: block;
    }

    .btn-group button:nth-child(1) {
      margin-top: 0;
    }

    margin: 20px;
    width: 445px;
    display: inline-flex;
  }

  .layout-editor-component-list {
    margin-left: 10px;
  }

  .layout-editor-component {
    cursor: pointer;
  }

  .settings-table {
    width: 500px;

    > tbody > tr {
      height: 30px;
    }

    > tbody > tr > td:nth-child(1) {
      width: 250px;
    }

    > tbody > tr > td:nth-child(2) > input,
    > tbody > tr > td:nth-child(2) > span,
    > tbody > tr > td:nth-child(2) > select {
      width: 100%;
    }
  }
}
