.layout {
  font-family: "fira", sans-serif;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
