@import 'variables';

.layout {
  font-family: "fira", sans-serif;
  font-size: $default-font-size;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  .resizable-layout {
    position: absolute;
    z-index: 2;
    height: 100% !important;

    .resizable-handle {
      cursor: e-resize;
      bottom: -4px;
      right: -4px;
      position: absolute;
      width: 20px;
      height: 100%;
    }
  }
}
