.layoutEditorOuter {
    display: inline-flex;

    :global(.is-mobile) & {
        flex-wrap: wrap;

        .layoutEditorInnerContainer {
            width: 100%;
        }
    }
}

.layoutEditorInner {
    width: var(--settings-table-width);
    display: inline-flex;
    margin-bottom: var(--ui-large-margin);

    table {
        width: 100%;
    }

    :global(.is-mobile) & {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 0;
    }
}

.btnGroup {
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);

    button {
        width: 40px;
        font-size: 15px;
    }

    :global(.is-mobile) & {
        flex-direction: row;
        margin: var(--ui-large-margin);
    }
}

.layoutEditorComponentList {
    composes: table from "Table.module.css";
    margin-left: var(--ui-large-margin);

    :global(.is-mobile) & {
        margin-left: 0;
        margin-bottom: var(--ui-large-margin);
    }
}

.layoutEditorComponent {
    cursor: pointer;
}

.layoutContainer {
    margin-left: var(--ui-large-margin);

    :global(.is-mobile) & {
        margin-left: 0;
        margin-top: var(--ui-large-margin);
    }
}
