@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: timer;
    src: url(timer.woff);
}

@font-face {
    font-family: fira;
    src: url(FiraSans-Regular.woff);
}

.livesplit-container {
    overflow-y: auto !important;
}

.table select {
    border: 1px solid hsl(0, 0%, 35%);
}

img.emoji {
    height: 28px;
}

img.flag {
    height: 15px;
    top: 2px;
    position: relative;
    padding-right: 4px;
}

.inline-div {
    display: inline;
}

table.filter-table td {
    padding: 5px;
}

.filter-table {
    margin-top: 10px;
    width: 100%;
}

table.filter-table > tbody.table-body > tr {
    background-color: hsla(0, 0%, 100%, 0.04);
}

table.filter-table > thead.table-header > tr {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.subcategory-table > tbody > tr {
    border: 1px solid hsl(0, 0%, 25%);
    text-align: center;
    cursor: pointer;
}

table.filter-table.subcategory-table > tbody.table-body > tr > td:hover {
    background: rgba(255, 255, 255, 0.15);
}

table.filter-table.subcategory-table > tbody.table-body > tr > td.selected:hover {
    background: linear-gradient(hsl(220, 90%, 70%) 0%, hsl(220, 69%, 40%) 100%) !important;
}

/* Markdown */
.markdown img {
    vertical-align: middle;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: hsla(50, 100%, 75%, 1);
}

pre {
    border-radius: 4px;
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* Markdown End */

body {
    font-family: 'fira', sans-serif;
    color: #eee;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background: hsla(0, 0%, 9%, 1);
}

.toast-class {
    border-radius: 2px !important;
    min-height: 48px !important;
}

.toast-body {
    margin: 10px 5px 10px 5px !important;
}

.toast-class > button {
    margin-bottom: initial;
    margin-top: initial;
}

#wrapper {
    transition: all 0.5s ease;
}

.sidebar {
    background: hsl(0, 0%, 10%);
    padding: 10px;
    padding-top: 15px;
    width: 250px;
    z-index: 4 !important;
}

.sidebar > div > hr {
    border-color: hsla(0, 0%, 30%, 1);
}

.sidebar > div > h2 {
    font-size: 1.5em;
    text-align: center;
    height: 20px;
}

.sidebar > div > div.small > button {
    width: 125px;
    height: 40px;
    font-size: 18px;
}

.choose-comparison > button {
    width: 30px;
    height: 40px;
    font-size: 28px;
}

.choose-comparison > span {
    width: 190px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button.toggle-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

button.toggle-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

button.toggle-middle {
    border-radius: 0px;
}

.layout {
    font-family: 'fira', sans-serif;
    font-size: 15px;
    width: 300px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.previous-segment,
.sum-of-best,
.possible-time-save,
.total-playtime,
.current-pace,
.delta-component,
.current-comparison,
.text-component {
    height: 24px;
    line-height: 20px;
    padding: 0px 6px;
}

.previous-segment-text,
.sum-of-best-text,
.possible-time-save-text,
.total-playtime-text,
.current-pace-text,
.delta-component-text,
.current-comparison-text {
    width: 100%;
}

.previous-segment-time,
.sum-of-best-time,
.possible-time-save-time,
.total-playtime-time,
.current-pace-time,
.delta-component-time,
.current-comparison-comparison {
    text-align: right;
    white-space: nowrap;
}

.title {
    position: relative;
    height: 36px;
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.title > div >  span,
div#lower-row > div {
    width: inherit;
    font-size: 13px;
}

span.title-game {
    line-height: 19px;
    width: calc(100% - 12px) !important;
    display: flex;
    height: 50%;
}

span.title-game,
div#lower-row {
    padding: 0px 6px;
}

div.run-meta.show-icon>.title-game.justify-center.game-title-center-fix {
    padding-left: 40px;
    width: calc(100% - 46px) !important;
}

div#lower-row > div.title-attempts {
    width: 40px;
    text-align: right;
    vertical-align: bottom;
}

div#lower-row > div.title-category {
    width: calc(100% - 80px);
    padding-left: 40px;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.detailed-timer {
    position: relative;
}

.detailed-timer-left-side {
    position: absolute;
    left: 6px;
    bottom: 2px;
    font-size: 11px;
}

div.meta-left > span.title-game {
    margin-right: 0px;
    justify-content: baseline;
}

.title > div.meta-left > span,
div.meta-left > div#lower-row > div:not(.title-attempts) {
    text-align: left;
}

div.meta-left > div#lower-row > div.title-category {
    width: calc(100% - 40px);
    padding: 0;
    justify-content: baseline;
}

div.meta-one-line {
    height: 100%;
}

div.title-attempts {
    position: absolute;
    right: 6px;
    bottom: 4px;
}
div.meta-two-lines > div#lower-row > div.title-category {
    align-items: baseline;
    vertical-align: top;
    padding-top: 1px;
}

div.meta-two-lines > div#lower-row > div.title-attempts {
    vertical-align: top;
    padding-bottom: 0;
    padding-top: 1px;
}

.game-icon-container {
    max-width: 34px;
    min-width: 34px;
    height: 30px;
    padding: 1px;
    padding-left: 5px;
    padding-top: 3px;
    position: absolute;
}

.run-meta {
    min-width: 0;
    width: 100%;
}

.run-meta.meta-left.show-icon {
    padding-left: 40px;
    width: calc(100% - 40px);
}

.title-text,
.title-attempts {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img.title-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.splits {
    display: table;
    width: 100%;
}

div.splits span.split.split-separator div {
    line-height: 18px;
}

.split {
    display: table-row;
    height: 24px;
    line-height: 20px;
}

.split div {
    display: table-cell;
    text-align: right;
    padding: 1px 6px 0px 6px;
}

td#dif {
    border-right: 10px solid transparent;
    text-align: right;
}

table {
    border-spacing: 0px 2px;
}

.split-name {
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 0px !important;
    text-align: left !important;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
}

.split-icon-container {
    padding-right: 6px !important;
}

.split-icon-container-empty {
    padding-right: 0px !important;
}

.split-icon {
    max-width: 18px;
    height: 18px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.time {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

div.timer-time {
    font-size: 60px;
    text-align: right;
    padding-left: 6px;
    padding-right: 6px;
    font-family: timer, sans-serif;
    margin-top: -10px;
}

.timer-fraction {
    font-size: 45px;
}

.buttons {
    margin-top: 5px;
    width: 300px;
}

.buttons > button {
    width: 98%;
    height: 40px !important;
    font-size: 25px;
}

.buttons > button, .buttons > div > button {
    height: 30px;
    margin-right: 1%;
    margin-left: 1%;
}

button.button-pressed, button.button-pressed:hover, button:active, button:active:hover {
    background: linear-gradient(hsl(0, 0%, 7%) 0%, hsl(0, 0%, 14%) 100%);
}

button:focus, div:focus, tr > td > input:focus {
    outline: 0;
}

button:hover {
    background: linear-gradient(hsl(0, 0%, 14%) 0%, hsl(0, 0%, 9%) 100%);
}

button {
    margin-bottom: 4px;
    margin-top: 4px;
    background: linear-gradient(hsl(0, 0%, 11%) 0%, hsl(0, 0%, 7%) 100%);
    color: #eee;
    cursor: pointer;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 25%);
    border-image: initial;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'fira', sans-serif;
}

.sidebar-buttons > button {
    width: 250px;
    height: 40px;
}

.buttons > div > button {
    width: 48%;
}

a {
    color: hsla(50, 100%, 50%, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.best-segment-time {
    color: hsla(50, 100%, 50%, 1);
}

.run-editor {
    padding: 10px 10px 10px 10px;
}

.run-editor-additional-info {
    width: 650px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid hsl(0, 0%, 25%);
    border-collapse: collapse;
    margin-left: 5px;
    background-color: hsla(0, 0%, 100%, 0.03);
}

.run-editor-rules {
    padding-left: 10px;
    padding-right: 10px;
}

.group {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.group > input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 285px;
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    color: white;
    font-family: 'fira', sans-serif;
}
.group > input:focus {
    outline: none;
}

.group > label 				 {
    color:hsla(50, 0%, 75%, 1);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group > input:focus ~ label, .group > input:valid ~ label 		{
    top: -13px;
    font-size: 14px;
}

.group > input:focus ~ label {
    color: hsla(50, 100%, 50%, 1);
}

.group.invalid > input:focus ~ label {
    color: hsla(0, 100%, 50%, 1);
}

.group > .bar { position: relative; display: block; width: 300px; }
.group > .bar:before, .group > .bar:after 	{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: hsla(50, 100%, 50%, 1);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.group > .bar:before {
    left:50%;
}
.group > .bar:after {
    right:50%;
}

.group.invalid > .bar:before, .group.invalid > .bar:after {
    background: hsla(0, 100%, 50%, 1);
}

.group > input:focus ~ .bar:before, .group > input:focus ~ .bar:after {
    width:50%;
}

/* Run Editor */
.table {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: table;
    border: 1px solid hsl(0, 0%, 25%);
    border-collapse: collapse;
}
.table-body{
    display: table-row-group;
}
.table>.table-header>tr,
.table-body>* {
	display: table-row;
	background: rgba(0, 0, 0, 0.5);
}
.table-body>*:nth-of-type(odd) {
	background: rgba(0, 0, 0, 0.2);
}

.table-row-even {
	display: table-row;
	background: rgba(0, 0, 0, 0.5) !important;
}
.table-row-odd {
    display: table-row;
	background: rgba(0, 0, 0, 0.2) !important;
}

.table>.table-header>tr>*,
.table-body>*>* {
	padding: 3px 12px;
	display: table-cell;
}
.table>.table-header>tr>*:nth-child(2),
.table-body>*>*:nth-child(2) {
	padding: 3px 12px 3px 5px;
}
.btn-group button {
    font-size: 15px;
	width: 160px;
	height: 30px;
	margin-right: 5px;
	display: block;
}

.btn-group button:nth-child(1) {
    margin-top: 0;
}

.editor-group {
	display: inline-flex
}

tr > td >input {
    margin-right: -40px;
}

.table-header>tr>th {
    font-weight: bold;
    text-align: center;
}

thead.table-header {
    border-bottom: solid 1px hsla(0, 0%, 100%, 0.2);
}

input {
    font-size: 15px;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    background: transparent;
    color: white;
    text-overflow: ellipsis;
    font-family: 'fira', sans-serif;
}

.number {
    text-align: right;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.run-editor-tab {
    margin-left: 5px;
}

.run-editor-info {
    display: inline-flex;
    margin-bottom: 10px;
}

.run-editor-info-table {
    padding-top: 10px;
    margin-left: 15px;
}

table.run-editor-info-table > tbody > tr > td {
    padding: 0px 10px 0px 10px;
}

table.run-editor-table > tbody > tr > td > input:not(.name) {
    text-align: right;
}

table.run-editor-table td {
    overflow: hidden;
}

table.run-editor-table td>input {
    width: 100%;
    text-overflow: ellipsis;
}

/* END RUN EDITOR */

.timing-selection > button {
    position: relative;
    left: 170px;
}

.tab-bar > button {
    font-size: 15px;
    height: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.layout-editor-tabs {
    margin-left: 20px;
}

.selected {
    background: linear-gradient(rgb(51, 115, 244) 0%, rgb(21, 53, 116) 100%) !important;
}

.leaderboard-row:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

input[Type="text"] {
    font-family:inherit;
}

.table-header>tr>th:nth-child(1):after {
    margin: 0;
    margin-left: -4px;
    margin-right: 7px;
}

svg.graph {
    display: block;
}

.layout-editor-inner {
    margin: 20px;
    width: 445px;
    display: inline-flex;
}

.layout-editor-outer {
    display: inline-flex;
}

.layout-editor-inner table {
    width: 100%;
}

.react-contextmenu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    text-align: left;
    background-color: #191919;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease !important;
    z-index: 3;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
    padding: 3px 10px;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.layout-editor-inner .btn-group button {
    width: 40px;
    height: 40px;
}

.layout-editor-component-list {
    margin-left: 10px;
}

.layout-editor-component {
    cursor: pointer;
}

.react-contextmenu-item--divider {
    margin-bottom: 3px;
    padding: 2px 0;
    border-bottom: 1px solid rgba(165, 165, 165, 0.15);
    cursor: inherit;
}

.react-contextmenu-item--selected {
    background: linear-gradient(rgb(51, 115, 244) 0%, rgb(21, 53, 116) 100%);
}

.settings-table {
    width: 500px;
}

.settings-table > tbody > tr {
    height: 30px;
}

.settings-table > tbody > tr > td:nth-child(1) {
    width: 250px;
}

.settings-table > tbody > tr > td:nth-child(2) > input,
.settings-table > tbody > tr > td:nth-child(2) > span,
.settings-table > tbody > tr > td:nth-child(2) > select {
    width: 100%;
}

select {
    background: hsla(0, 0%, 9%, 1);
    font-size: 15px;
    border: none;
    color: white;
    text-overflow: ellipsis;
    font-family: 'fira', sans-serif;
}

.separator {
    background-color: hsla(0, 0%, 43%, 1);
    height: 2px;
}

button.disabled, button.button-pressed.disabled, button.disabled:active {
    background: #222;
    color: #666;
    cursor: default;
}

.chrome-picker {
    font-family: inherit !important;
    margin-top: 5px;
    margin-left: -50%;
}

.text-component {
    overflow: hidden;
}

.text-component>table {
    width: 100%;
}
.center-text {
    text-align: -webkit-center;
    text-align: center;
}
.text-component-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
