@import 'variables';

.livesplit-container {
  overflow-y: auto !important;

  .sidebar-button {
    position: fixed;
    bottom: $button-margin;
    left: $button-margin;
    z-index: 10;
    font-size: 24px;
    padding: 8px;
  }

  .view-container {
    position: relative;
    min-width: calc(100% - 2 * #{$view-margin});
    min-height: calc(100% - 2 * #{$view-margin});
    margin: $view-margin;

    .buttons {
      margin-top: 5px;

      .small {
        button {
          height: 30px;
          width: calc(50% - #{$button-margin / 2})
        }

        button:first-child {
          margin-right: $button-margin / 2;
        }

        button:last-child {
          margin-left: $button-margin / 2;
        }
      }
    }
  }
}
