@import 'variables';

.livesplit-container {
  overflow-y: auto !important;

  .sidebar-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    font-size: 24px;
    padding: 8px;
  }

  .view-container {
    position: relative;
    min-width: calc(100% - 40px);
    min-height: calc(100% - 40px);
    margin: $view-margin;

    .buttons {
      margin-top: 5px;
      width: 300px;
  
      > button {
        width: 98%;
        height: 40px !important;
        font-size: 25px;
      }
  
      > button,
      > div > button {
        height: 30px;
        margin-right: 1%;
        margin-left: 1%;
      }
  
      > div > button {
        width: 48%;
      }
    }
  }
}
