@use "sass:math";

@use "variables.icss";

@font-face {
    font-family: timer;
    font-display: swap;
    src: url(timer.woff);
}

@font-face {
    font-family: fira;
    font-display: swap;
    src: url(FiraSans-Regular.woff);
}

body {
    font-family: "fira", sans-serif;
    color: #eee;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background: variables.$main-background-color;
}

table {
    border-spacing: 0 2px;
}

button:focus,
div:focus {
    outline: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 0.25em;
    background: variables.$button-color;
    color: variables.$button-text-color;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.1;
    border-width: 1px;
    border-style: solid;
    border-color: variables.$border-color;
    border-image: initial;
    border-radius: 5px;
    font-weight: bold;
    font-family: "fira", sans-serif;
    min-height: variables.$button-height;
    padding: 5px variables.$ui-margin;

    &:disabled,
    &:disabled:active {
        background: variables.$button-disabled-color;
        color: variables.$button-disabled-text-color;
        cursor: default;
    }

    &:hover {
        background: variables.$button-hover-color;
    }

    &:active,
    &:active:hover {
        background: variables.$button-active-color;
    }
}

a {
    color: #56b0ff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/* WebKit Scrollbars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #303030;
    border: 0 solid #0000;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #0000;
}

::-webkit-scrollbar-corner {
    background-color: hsla(0, 0%, 9%, 1);
}

.initial-load {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
