@font-face {
    font-family: timer;
    font-display: swap;
    src: url(timer.woff);
}

@font-face {
    font-family: fira;
    font-display: swap;
    src: url(FiraSans-Regular.woff);
}

body {
    font-family: "fira", sans-serif;
    color: var(--main-text-color);
    text-shadow: var(--main-text-shadow);
    background: var(--main-background-color);
}

table {
    border-spacing: 0 2px;
}

button:focus,
div:focus {
    outline: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 0.25em;
    background: var(--button-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-size: 20px;
    line-height: 1.1;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    border-image: initial;
    border-radius: 5px;
    font-weight: bold;
    font-family: "fira", sans-serif;
    min-height: var(--button-height);
    padding: 5px var(--ui-margin);

    &:disabled,
    &:disabled:active,
    &:disabled:active:hover,
    &:disabled:hover {
        background: var(--button-disabled-color);
        color: var(--button-disabled-text-color);
        cursor: default;
    }

    &:hover {
        background: var(--button-hover-color);
    }

    &:active,
    &:active:hover {
        background: var(--button-active-color);
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/* WebKit Scrollbars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thumb-color);
    border: 0 solid #0000;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #0000;
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner-color);
}

.initial-load {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
