@use 'sass:math';

@import 'browser_source';
@import 'variables';

@font-face {
  font-family: timer;
  font-display: swap;
  src: url(timer.woff);
}

@font-face {
  font-family: fira;
  font-display: swap;
  src: url(FiraSans-Regular.woff);
}

body {
  font-family: "fira", sans-serif;
  color: #eee;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background: $main-background-color;
}

.Toastify {
  .toast-class {
    font-family: "fira", sans-serif;
    background: $sidebar-background-color !important;
    border: 2px solid $border-color !important;
    border-radius: 10px !important;
    min-height: 48px !important;

    &.toast-bug {
      border-color: red !important;

      a {
        color: red;
      }
    }
  }
}

.toast-body {
  margin: 5px 5px 5px 5px !important;
}

.toast-class>button {
  margin-bottom: initial;
  margin-top: initial;
}

#wrapper {
  transition: all 0.5s ease;
}

td#dif {
  border-right: 10px solid transparent;
  text-align: right;
}

table {
  border-spacing: 0 2px;
}

button:active,
button:active:hover {
  background: $button-active-color;
}

button:focus,
div:focus {
  outline: 0;
}

button:hover {
  background: $button-hover-color;
}

button {
  margin-bottom: math.div($ui-margin, 2);
  margin-top: math.div($ui-margin, 2);
  background: $button-color;
  color: $button-text-color;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.1;
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  border-image: initial;
  border-radius: 5px;
  font-weight: bold;
  font-family: "fira", sans-serif;
  min-height: $button-height;
  padding: 5px $ui-margin;
}

a {
  color: hsla(50, 100%, 50%, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:disabled,
button:disabled:active {
  background: $button-disabled-color;
  color: $button-disabled-text-color;
  cursor: default;
}

.chrome-picker {
  font-family: inherit !important;
  margin-top: 5px;
  margin-left: -50%;
}

/* WebKit Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: #303030;
  border: 0 solid #0000;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #0000;
}

::-webkit-scrollbar-corner {
  background-color: hsla(0, 0%, 9%, 1);
}

.initial-load {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;

  .initial-load-text {
    margin-left: 10px;
  }
}
