@import 'variables';

@mixin markdown {
  .flag {
    padding-right: 4px;
    height: 14px;
    width: 18px;
    object-fit: contain;
    vertical-align: middle;
  }

  .markdown {
    span {
      line-height: 125%;
    }

    img {
      vertical-align: middle;
    }
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: hsla(50, 100%, 75%, 1);
  }

  pre {
    border-radius: 4px;
    border-color: $border-color;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}
