@import 'Toggle';
@import 'variables';

$header-font-size: 24px;

.sidebar-overlay {
  z-index: 3 !important;
}

.sidebar {
  background: $sidebar-background-color;
  padding: $ui-margin;
  width: 250px;
  z-index: 4 !important;

  @include toggle;

  > div > div.small > button {
    width: 50%;
    height: 40px;
    font-size: 18px;
  }

  .sidebar-buttons {
    hr {
      border-color: $border-color;
      margin: ($ui-large-margin - $ui-margin / 2) 0;

      &.livesplit-title-separator {
        margin-top: 0;
      }
    }

    h1, h2 {
      font-size: $header-font-size;
      text-align: center;
      margin-top: $ui-large-margin;
      margin-bottom: $ui-large-margin;
    }

    h2 {
      margin-bottom: $ui-large-margin - $ui-margin / 2;
    }

    > button {
      width: 100%;
      height: 40px;
    }

    .livesplit-title {
      display: flex;
      justify-content: center;
      align-items: center;

      .livesplit-icon {
        height: 40px;
        margin-right: $ui-margin;

        img {
          height: 100%;
        }
      }
    }
  }

  .choose-comparison {
    > button {
      width: 30px;
      height: 40px;
      font-size: 28px;
    }

    > span {
      width: calc(100% - 60px);
      text-align: center;
      display: inline-block;
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
