@use "sass:math";

@use "variables.icss";

$h1-font-size: 24px;
$h2-font-size: 22px;

.sidebarOverlay {
    z-index: 3 !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: variables.$ui-margin;
    background: variables.$sidebar-background-color;
    padding: variables.$ui-margin;
    width: 250px;
    z-index: 4 !important;

    hr {
        border-color: variables.$border-color;
        margin: variables.$ui-margin 0;
    }

    h1,
    h2 {
        text-align: center;
        margin: 0;
    }

    h1 {
        font-size: $h1-font-size;
        margin-top: variables.$ui-large-margin;
    }

    h2 {
        font-size: $h2-font-size;
    }

    button {
        width: 100%;
    }
}

.modifiedIcon {
    position: absolute;
    padding-bottom: 10px;
    padding-left: 5px;
}
