@use 'sass:math';

@import "Time";
@import 'variables';

$split-column-width: $default-line-height * 3;
$split-label-height: $default-component-height - $thick-separator-width;
$split-icon-size: $default-component-height - $vertical-padding * 2;
$split-icon-two-row-size: $two-row-height - $vertical-padding * 2;

.splits {
  width: 100%;
  position: relative;

  .split {
    display: flex;
    position: relative;
    width: 100%;
    height: $default-component-height;

    @include time;

    &.two-rows {
      height: $two-row-height;

      .split-rows {
        flex-wrap: wrap;
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;

        .split-row {
          height: initial;

          &.split-second-row {
            width: 100%;
            justify-content: flex-end;
          }
        }
      }

      .split-icon-container {
        width: $split-icon-two-row-size;
      }
    }

    .split-icon-container {
      padding: $vertical-padding $side-padding;
      width: $split-icon-size;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      position: relative;

      .split-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
      }
    }

    .split-icon-container-empty {
      padding-right: $side-padding;
      position: relative;
    }

    .split-rows {
      display: flex;
      align-items: center;
      flex-grow: 1;
      overflow: hidden;
      height: 100%;
      position: relative;
      box-sizing: border-box;

      .split-row {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        height: 100%;

        &.split-first-row,
        .split-name {
          flex-grow: 1;
        }

        &.split-second-row,
        .split-time {
          flex-shrink: 0;
        }

        .split-name {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          overflow: hidden;
          padding: 0 $side-padding;
          padding-left: 0;
          height: 100%;

          .split-name-inner {
            padding: 0;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .split-time {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 0 $side-padding;
          padding-left: 0;
          height: 100%;

          &.split-time-full {
            width: $split-column-width;
            flex-shrink: 0;
          }

          .split-time-inner {
            padding: 0;
          }
        }
      }
    }

    &.split-label {
      height: $split-label-height;
    }

    .current-split-background,
    .split-borders {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .split-borders {
      border-bottom-width: $thin-separator-width;
      border-top-width: $thin-separator-width;
      border-bottom-style: solid;
      border-top-style: solid;
      top: math.div(-$thick-separator-width, 2);
      height: calc(100% + #{math.div($thick-separator-width, 2)});

      &.separator-above {
        border-top-width: $thick-separator-width;
        border-top-style: solid;
      }
    }
  }
}
