@import 'variables';
@import 'Table';

$loading-text-font-size: 40px;
$splits-title-width: 400px;
$splits-buttons-width: 225px;

.splits-selection {
  .loading {
    display: flex;
    width: fit-content;
    font-size: $loading-text-font-size;

    .loading-text {
      margin-left: $ui-margin;
    }
  }

  .splits-selection-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .main-actions {
      display: flex;
      justify-content: flex-start;

      button {
        margin-bottom: $ui-large-margin / 2;
        margin-right: $ui-margin;
      }
    }

    @include table;

    .splits-table {
      margin-top: $ui-large-margin / 2;
      width: fit-content;

      .splits-row {
        .splits-title-text {
          width: $splits-title-width;
          overflow: hidden;

          .splits-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        &.selected .splits-row-buttons button {
          opacity: 70%;
        }

        .splits-row-buttons {
          display: flex;
          justify-content: flex-end;
          width: $splits-buttons-width;

          button {
            background: transparent;
            border: 0;
            opacity: 50%;
            margin: 0;
            transition: 0.3s;
            color: white;

            &:hover {
              opacity: 100%;
            }

            &:not(:last-child) {
              margin-right: $ui-margin;
            }
          }
        }
      }
    }
  }
}
