.loading {
    display: flex;
    width: fit-content;
    font-size: 40px;
}

.loadingText {
    margin-left: var(--ui-margin);
}

.splitsSelectionContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.mainActions {
    display: flex;
    justify-content: flex-start;

    button {
        margin-top: 0;
        margin-bottom: calc(var(--ui-large-margin) / 2);
        margin-right: var(--ui-margin);
    }

    :global(.is-mobile) & {
        margin-top: var(--ui-margin);
        margin-left: var(--ui-margin);
    }
}

.splitsTable {
    background-color: var(--dark-row-color);
    border: 1px solid var(--border-color);
    margin: calc(var(--ui-large-margin) / 2) 0;
    width: fit-content;

    :global(.is-mobile) & {
        width: 100%;
        box-sizing: border-box;
    }
}

.splitsRow {
    display: flex;
    gap: var(--ui-large-margin);
    flex-wrap: nowrap;
    align-items: center;
    padding: var(--ui-margin);
    height: 40px;
    width: 500px;

    &:nth-of-type(odd) {
        background-color: var(--light-row-color);
    }

    &.selected {
        background: var(--selected-row-color);
        color: var(--selected-row-text-color);
    }

    &.selected .splitsRowButtons button {
        opacity: 70%;
        color: var(--selected-row-text-color);
    }

    :global(.is-mobile) & {
        width: 100%;
        box-sizing: border-box;
        height: calc(40px + 2 * var(--ui-margin));
    }
}

.splitsRowButtons {
    display: contents;
    flex-shrink: 0;
    margin-left: var(--ui-large-margin);

    button {
        background: transparent;
        border: 0;
        opacity: 50%;
        margin: 0;
        transition: 0.3s;
        color: var(--main-text-color);
        padding: 0;

        &:hover {
            opacity: 100%;
        }
    }
}

.splitsTitleText {
    flex-grow: 1;
    overflow: hidden;
}

.splitsText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.splitsGame {
        margin-bottom: var(--ui-margin);
    }
}
