@import "Time";

$split-column-width: 60px;
$split-label-height: 22px;
$split-height: 24px;
$split-icon-size: 18px;

.splits {
  width: 100%;
  position: relative;

  span.split.split-separator div {
    line-height: 18px;
  }

  .split {
    line-height: 20px;
    display: flex;
    position: relative;
    width: 100%;
    height: $split-height;

    @include time;

    &.split-label {
      height: $split-label-height;
    }

    .current-split-background {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .split-icon-empty {
      height: 18px;
      padding: 0 9px;
    }

    .split-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      flex-grow: 1;
      padding-left: 0px;
      padding-top: 1px;

      .split-name-inner {
        padding: 0;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .split-time {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-left: 0;

      &.split-time-full {
        width: $split-column-width;
        flex-shrink: 0;
      }

      &.split-label {
        padding-top: 1px;
      }

      .split-time-inner {
        padding: 0;
      }
    }

    div {
      padding: 0px 6px;
      position: relative;
      white-space: nowrap;
    }

    .split-icon-container {
      padding-right: 6px;
      width: $split-icon-size;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;

      .split-icon {
        max-width: $split-icon-size;
        height: $split-icon-size;
        object-fit: contain;
        filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
      }
    }

    .split-icon-container-empty {
      padding-right: 0px;
    }
  }
}
