@use "sass:math";

@use "mobile";
@use "variables.icss";
@use "Table";

$loading-text-font-size: 40px;
$splits-row-width: 500px;
$splits-row-height: 40px;

.splits-selection {
    .loading {
        display: flex;
        width: fit-content;
        font-size: $loading-text-font-size;

        .loading-text {
            margin-left: variables.$ui-margin;
        }
    }

    .splits-selection-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        .main-actions {
            display: flex;
            justify-content: flex-start;

            button {
                margin-top: 0;
                margin-bottom: math.div(variables.$ui-large-margin, 2);
                margin-right: variables.$ui-margin;
            }

            @include mobile.mobile {
                margin-top: variables.$ui-margin;
                margin-left: variables.$ui-margin;
            }
        }

        .splits-table {
            background-color: variables.$dark-row-color;
            border: 1px solid variables.$border-color;
            margin: math.div(variables.$ui-large-margin, 2) 0;
            width: fit-content;

            .splits-row {
                display: flex;
                gap: variables.$ui-large-margin;
                flex-wrap: nowrap;
                align-items: center;
                padding: variables.$ui-margin;
                height: $splits-row-height;
                width: $splits-row-width;

                &:nth-of-type(odd) {
                    background-color: variables.$light-row-color;
                }

                &.selected {
                    background: variables.$selected-row-color;
                }

                .splits-title-text {
                    flex-grow: 1;
                    overflow: hidden;

                    .splits-text {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &.splits-game {
                            margin-bottom: variables.$ui-margin;
                        }
                    }
                }

                &.selected .splits-row-buttons button {
                    opacity: 70%;
                }

                .splits-row-buttons {
                    display: contents;
                    flex-shrink: 0;
                    margin-left: variables.$ui-large-margin;

                    button {
                        background: transparent;
                        border: 0;
                        opacity: 50%;
                        margin: 0;
                        transition: 0.3s;
                        color: white;
                        padding: 0;

                        &:hover {
                            opacity: 100%;
                        }
                    }
                }

                @include mobile.mobile {
                    width: 100%;
                    box-sizing: border-box;
                    height: $splits-row-height + 2 * variables.$ui-margin;
                }
            }

            @include mobile.mobile {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}
