.label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    width: 35px;
    height: 20px;
    display: inline-block;

    span {
        position: absolute;
        background-color: var(--switch-track-color);
        border-radius: 20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background-color 0.25s;
    }

    span::before {
        background-color: var(--switch-thumb-color);
        border-radius: 50%;
        content: "";
        position: absolute;
        transition: all 0.25s;
        left: 3px;
        bottom: 3px;
        height: 14px;
        width: 14px;
    }

    &:hover input + span {
        background-color: var(--switch-track-hover-color);
    }

    &:hover input:checked + span {
        background-color: var(--switch-track-checked-hover-color);
    }

    input:checked + span {
        background-color: var(--switch-track-checked-color);
    }

    input:checked + span::before {
        transform: translateX(15px);
    }

    input {
        display: none;
    }
}
