@import 'variables';

@mixin table {
  .table {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    border: 1px solid $border-color;
    border-collapse: collapse;

    select {
      border: 1px solid $border-color;
    }

    .table-row-even {
      display: table-row;
      background: $dark-row-color !important;
    }
    .table-row-odd {
      display: table-row;
      background: $light-row-color !important;
    }
  }

  .table-body {
    display: table-row-group;

    > * {
      display: table-row;
      background: $dark-row-color;

      > * {
        padding: 3px 12px;
        display: table-cell;
      }

      > *:nth-child(2) {
        padding: 3px 12px 3px 5px;
      }
    }

    > *:nth-of-type(odd) {
      background: $light-row-color;
    }
  }

  .number {
    text-align: right;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .selected {
    background: $selected-row-color !important;
  }

  .tab-bar > button {
    font-size: 15px;
    height: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
  }

  tr > td > input {
    margin-right: -40px;
  }
  
  input {
    font-size: 15px;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    background: transparent;
    color: white;
    text-overflow: ellipsis;
    font-family: "fira", sans-serif;
  }
  
  input[Type="text"] {
    font-family: inherit;
  }

  select {
    background: $dark-row-color;
    font-size: 15px;
    border: none;
    color: white;
    text-overflow: ellipsis;
    font-family: "fira", sans-serif;
  }

  tr > td > input:focus {
    outline: 0;
  }

  .settings-table {
    width: 500px;

    > tbody > tr {
      height: 30px;
    }

    > tbody > tr > td:nth-child(1) {
      width: 250px;
    }

    > tbody > tr > td:nth-child(2) > input,
    > tbody > tr > td:nth-child(2) > span,
    > tbody > tr > td:nth-child(2) > select {
      width: 100%;
    }
  }
}
