.table {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    border: 1px solid var(--border-color);
    border-collapse: collapse;

    > tbody {
        > tr.explicitEven,
        > :nth-child(even) {
            display: table-row;
            background: var(--dark-row-color);
        }

        > tr.explicitOdd,
        > :nth-child(odd) {
            display: table-row;
            background: var(--light-row-color);
        }
    }
}

.tableBody {
    display: table-row-group;

    > tr {
        display: table-row;
        background: var(--dark-row-color);

        > td {
            padding: calc(var(--ui-margin) / 2) calc(var(--ui-margin) / 2);
            display: table-cell;

            &:first-child {
                padding-left: var(--ui-margin);
            }

            &:last-child {
                padding-right: var(--ui-margin);
            }
        }
    }

    tr > td > input {
        margin-right: -40px;

        &:focus {
            outline: 0;
        }
    }

    input.textBox {
        font-family: inherit;
        background: transparent;
        color: white;
        text-overflow: ellipsis;
        font-size: 15px;
        border: none;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    }

    input[Type="text"] {
        font-family: inherit;
    }

    select {
        background: var(--dark-row-color)
            url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,4 2,4 5,7 8,4 10,4 5,9' fill='%23fff'/%3E%3C/svg%3E")
            no-repeat right 4px center;
        font-size: 15px;
        border: 1px solid var(--border-color);
        color: white;
        text-overflow: ellipsis;
        font-family: inherit;
        padding-left: 4px;
        padding-right: 20px;
        border-radius: 0;
        appearance: none;
    }
}

.number {
    text-align: right;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
}

.selected {
    background: var(--selected-row-color) !important;
}

.settingsTable {
    width: var(--settings-table-width);

    tr {
        height: 30px;

        td:first-child {
            width: 100%;
        }

        .settingsValueBox {
            width: calc(var(--settings-table-width) / 2 - 2 * var(--ui-margin));
            display: grid;
            column-gap: var(--ui-margin);
            row-gap: var(--ui-margin);
            grid-template-columns: 100%;

            input {
                height: var(--settings-row-height);
                box-sizing: border-box;

                &:focus {
                    outline: 0;
                }
            }

            select {
                height: var(--settings-row-height);
                min-width: 80px;
            }

            &.optionalValue {
                grid-template-columns: max-content 1fr;
            }

            &.twoColors {
                grid-template-columns: 1fr 45px 45px;
            }

            &.oneColor {
                grid-template-columns: 1fr 45px;
            }

            &.removableString {
                grid-template-columns: 1fr 20px;

                .trash {
                    /* FIXME: Deduplicate */
                    cursor: pointer;
                }

                button {
                    margin: 0;
                    font-size: 12px;
                    min-height: var(--settings-row-height);
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    :global(.is-mobile) & {
        width: 100%;
    }
}
