.group {
    position: relative;
    border-bottom: 1px solid var(--border-color);

    > input {
        font-size: 18px;
        padding: calc(14px + var(--ui-margin)) 0 calc(var(--ui-margin) / 2)
            calc(var(--ui-margin) / 2);
        display: block;
        width: 100%;
        border: none;
        background: transparent;
        color: var(--input-text-color);
        font-family: inherit;
    }

    > input:focus {
        outline: none;
    }

    > label {
        color: var(--field-label-color);
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: calc(var(--ui-margin) / 2);
        top: 0;
        transition: 0.2s ease all;
    }

    > input:focus ~ label {
        color: var(--field-label-focus-color);
    }

    &.invalid > input:focus ~ label {
        color: var(--field-label-invalid-color);
    }

    > .bar {
        position: relative;
        display: block;
        width: 100%;
    }

    > .bar:before,
    > .bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: var(--field-highlight-color);
        transition: 0.2s ease all;
    }

    > .bar:before {
        left: 50%;
    }

    > .bar:after {
        right: 50%;
    }

    &.invalid > .bar:before,
    &.invalid > .bar:after {
        background: var(--field-highlight-invalid-color);
    }

    > input:focus ~ .bar:before,
    > input:focus ~ .bar:after {
        width: 50%;
    }
}
