@import 'variables';

.text-component {
  height: $default-component-height;
  line-height: $default-component-line-height;
  padding: 0px 6px;
  overflow: hidden;

  .text-component-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .center-text {
    text-align: -webkit-center;
    text-align: center;
  }
  
  > table {
    width: 100%;
  }
}
