@import 'variables';

.timer-time {
  font-size: 60px;
  text-align: right;
  padding-left: $side-padding;
  padding-right: $side-padding;
  font-family: timer, sans-serif;
  margin-top: -10px;
  text-shadow: none;
}
