.buttons {
    margin-top: calc(var(--ui-large-margin) - var(--ui-margin) / 2);
    max-width: calc(2 * var(--button-max-width) + var(--ui-margin) / 2);

    :global(.is-mobile) & {
        padding: 0 var(--ui-margin);
        width: calc(100% - 2 * var(--ui-margin)) !important;
    }
}

.controlButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--ui-margin);

    button {
        width: 100%;
    }
}

.manualGameTime {
    width: calc(100% - var(--ui-margin) / 2);
    color: var(--button-text-color);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #aaa;
    text-align: right;
    font-family: "fira", sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: var(--manual-game-time-height);

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: 15px;
    }
}

.liveSplitTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--ui-margin);
    margin-top: var(--ui-margin);

    h1 {
        margin: 0 !important;
    }

    + hr {
        margin-top: 0 !important;
    }
}

.liveSplitIcon {
    height: 40px;
}

.chooseComparison {
    padding: 0 6px 0 6px;
    width: 100%;
    height: 40px;
    appearance: none;
    background: var(--button-middle-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: "fira", sans-serif;
    font-size: 20px;
    text-align: center;
    text-overflow: ellipsis;
}
