@use 'sass:math';

@import 'mobile';
@import 'variables';

.buttons {
  margin-top: $ui-large-margin - math.div($ui-margin, 2);

  .small {
    button {
      width: calc(50% - #{math.div($ui-margin, 2)})
    }

    button:first-child {
      margin-right: math.div($ui-margin, 2);
    }

    button:last-child {
      margin-left: math.div($ui-margin, 2);
    }
  }

  @include mobile {
    padding: 0 $ui-margin;
    width: calc(100% - #{2 * $ui-margin}) !important;
  }
}
