@import "variables";

$game-icon-size: $two-row-height - $vertical-padding * 2;

.title {
  height: $two-row-height;
  width: 100%;
  display: flex;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;

  .game-icon-container {
    max-width: $game-icon-size;
    max-height: $game-icon-size;
    padding: $vertical-padding 0;
    padding-left: $side-padding;
    flex-shrink: 0;

    .title-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .run-info {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;

    .title-game {
      display: flex;
      align-items: center;
      height: 50%;
      padding: 0 $side-padding;

      &.centered {
        justify-content: center;
      }
    }

    .lower-row {
      display: flex;
      position: relative;
      height: 50%;

      &.centered {
        justify-content: center;
      }

      &.one-line {
        height: 100%;
      }

      .title-category {
        display: flex;
        align-items: center;
        height: 100%;
        flex-grow: 1;
        overflow: hidden;
        padding: 0 $side-padding;

        &.centered {
          justify-content: center;
        }
      }

      .title-attempts,
      .title-attempts-invisible {
        height: 100%;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        &.one-line {
          height: 50%;
          align-self: flex-end;
        }
      }

      .title-attempts {
        justify-content: flex-end;
        padding-right: $side-padding;
      }

      .title-attempts-invisible {
        justify-content: flex-start;
        padding-left: $side-padding;
        visibility: hidden;
      }
    }
  }
}
