:global(.Toastify) {
    .toastClass {
        font-family: "fira", sans-serif;
        background: var(--overlay-background-color) !important;
        backdrop-filter: blur(5px);
        border: 2px solid var(--overlay-border-color) !important;
        color: var(--overlay-text-color);
        border-radius: 10px !important;
        min-height: 48px !important;
        padding-right: 28px;

        &.toastBug {
            border-color: red !important;

            a {
                color: red;
            }
        }

        > button {
            margin-bottom: initial;
            margin-top: initial;
        }
    }

    .toastBody {
        margin: 5px 5px 5px 5px !important;
        color: var(--overlay-text-color);
    }
}
