:global(.Toastify) {
    .toastClass {
        font-family: "fira", sans-serif;
        background: rgba(28, 28, 28, 0.8) !important;
        backdrop-filter: blur(5px);
        border: 2px solid rgba(255, 255, 255, 0.25) !important;
        border-radius: 10px !important;
        min-height: 48px !important;
        padding-right: 28px;

        &.toastBug {
            border-color: red !important;

            a {
                color: red;
            }
        }

        > button {
            margin-bottom: initial;
            margin-top: initial;
        }
    }

    .toastBody {
        margin: 5px 5px 5px 5px !important;
    }
}
