@import 'variables';

$inactive-color: $button-disabled-color;
$inactive-hover-color: $hover-row-color;
$active-color: $selected-row-color;
$active-hover-color: $selected-row-hover-color;

.toggle-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: $ui-margin;

  .react-toggle {
    .react-toggle-track {
      background: $inactive-color;
      width: 34px;
      height: 16px;
      border-radius: 20px;
    }
  
    &:hover:not(.react-toggle--disabled) {
      .react-toggle-track {
        background: $inactive-hover-color;
      }
    }
  
    &--checked {
      .react-toggle-track {
        background: $active-color;
      }
  
      &:hover:not(.react-toggle--disabled) {
        .react-toggle-track {
          background: $active-hover-color;
        }
      }
  
      .react-toggle-thumb {
        left: 19px;
      }
    }
    .react-toggle-thumb {
      width: 14px;
      height: 14px;
      border: none;
      box-shadow: none !important;
    }
  }
}
