@import 'variables';

@mixin toggle {
  .toggle-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .toggle-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .toggle-middle {
    border-radius: 0;
  }

  .button-pressed,
  .button-pressed:hover {
    background: $button-active-color;
  }

  .button-pressed.disabled {
    background: $button-disabled-color;
    color: $button-disabled-text-color;
    cursor: default;
  }
}
