.tooltip {
    position: relative;

    .tooltipText {
        visibility: hidden;
        width: 300px;
        background-color: rgba(28, 28, 28, 0.8);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.25);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: var(--ui-margin);
        position: absolute;
        z-index: 1;
        bottom: calc(100% + var(--ui-margin));
        left: 50%;
        margin-left: -150px;
        opacity: 0;
        transition: opacity 0.25s;
        transition-delay: 0.25s;
        text-wrap: initial;
        font-weight: initial;

        :global(.is-mobile) & {
            left: 0;
            margin-left: 0;
        }
    }

    &:hover .tooltipText {
        visibility: visible;
        opacity: 1;
    }

    &.contextMenuItem .tooltipText {
        bottom: initial;
        left: calc(100% + var(--ui-margin));
        margin-left: 0;
        top: 0;
    }
}
