@use 'mobile';
@use 'variables';

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: variables.$sidebar-background-color;
    border: 1px solid variables.$border-color;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: variables.$ui-margin;
    position: absolute;
    z-index: 1;
    bottom: calc(100% + variables.$ui-margin);
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.25s;
    transition-delay: 0.25s;
    text-wrap: initial;
    font-weight: initial;

    @include mobile.mobile {
        left: 0;
        margin-left: 0;
    }
}

.react-contextmenu-item.tooltip .tooltip-text {
    bottom: initial;
    left: calc(100% + variables.$ui-margin);
    margin-left: 0;
    top: 0;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
