$view-margin: 20px;

$default-component-height: 24px;
$default-component-line-height: 20px;
$two-row-height: 40px;
$two-row-line-height: 15px;
$two-row-extra-padding: 2px;

$border-color: #404040;

$button-active-color: linear-gradient(hsl(0, 0%, 13%) 0%, hsl(0, 0%, 23%) 100%);
$button-color: linear-gradient(hsl(0, 0%, 11%) 0%, hsl(0, 0%, 7%) 100%);
$button-disabled-color: #222;
$button-disabled-text-color: #666;
$button-hover-color: linear-gradient(hsl(0, 0%, 14%) 0%, hsl(0, 0%, 9%) 100%);
$button-text-color: #eee;

$main-background-color: #171717;
$sidebar-background-color: #1A1A1A;

$dark-row-color: #0B0B0B;
$header-row-color: #090909;
$hover-row-color: #404040;
$light-row-color: #121212;

$selected-row-color: linear-gradient(rgb(51, 115, 244) 0%, rgb(21, 53, 116) 100%);
$selected-row-hover-color: linear-gradient(hsl(220, 90%, 70%) 0%, hsl(220, 69%, 40%) 100%);
