$ui-margin: 8px;
$ui-large-margin: 16px;
$main-content-margin: 24px;

$settings-table-width: 500px;

$default-component-height: 24px;
$line-height-to-component-height-ratio: 0.8;
$default-line-height: $default-component-height * $line-height-to-component-height-ratio;
$font-size-to-line-height-ratio: 0.85;
$default-font-size: $default-line-height * $font-size-to-line-height-ratio;
$two-row-height: $default-line-height + $default-component-height;
$side-padding: $default-component-height * 0.35;
$vertical-padding: ($default-component-height - $default-line-height) / 2;
$thick-separator-width: $default-component-height * 0.1;
$thin-separator-width: $thick-separator-width / 2;

$border-color: #404040;

$button-active-color: linear-gradient(hsl(0, 0%, 13%) 0%, hsl(0, 0%, 23%) 100%);
$button-color: linear-gradient(hsl(0, 0%, 11%) 0%, hsl(0, 0%, 7%) 100%);
$button-disabled-color: #222;
$button-disabled-text-color: #666;
$button-hover-color: linear-gradient(hsl(0, 0%, 14%) 0%, hsl(0, 0%, 9%) 100%);
$button-text-color: #eee;

$main-background-color: #171717;
$sidebar-background-color: #1A1A1A;

$dark-row-color: #0B0B0B;
$header-row-color: #090909;
$hover-row-color: #404040;
$light-row-color: #121212;

$selected-row-color: linear-gradient(rgb(51, 115, 244) 0%, rgb(21, 53, 116) 100%);
$selected-row-hover-color: linear-gradient(hsl(220, 90%, 70%) 0%, hsl(220, 69%, 40%) 100%);

:export {
  fontSizeToLineHeightRatio: $font-size-to-line-height-ratio;
  lineHeightToComponentHeightRatio: $line-height-to-component-height-ratio;
  sidePadding: $side-padding;
}
